header{
    width:auto;
    height:90px;
    background-color:#24292F;
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    border-radius: 10px;

}
#main{
    width:auto;
    height:700px;
    background-color: rgba(234, 243, 242, 0.952);
    display: flex;
    flex-direction: row;
}
#ver_box{
    width:320px;
    height:580px;
    background-color:rgb(32,32,32);
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 20px;
    border-radius:30px;
}
#container{
    width:1100px;
    height:580px;
    background-color: rgba(234, 243, 242, 0.952);
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search{
    width:750px;
    height:60px;
    background-color: rgb(32,32,32);
    margin-top: 40px;
    border-radius:10px;
}
#box_container{
    width:auto;
    height:250px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
}
#box{
    width:220px;
    height: 140px;
    background-color: rgb(32,32,32);
    margin:20px 50px 10px 50px;
    border-radius:20px;
}
#hor_box{
    width:860px;
    height:200px;
    background-color: rgb(32,32,32);
    margin-bottom: 20px;
    border-radius:20px;

}
#name{
    font-size: 20px;
    color:rgb(104, 100, 100);
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    padding-left:20px;
}

.pic{
    width:60px;
    height:60px;
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}